@keyframes fade-up
  0%
    opacity: 0
    transform: translateY(-40px)
  100%
    opacity: 1
    transform: translateY(0)

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1


@keyframes fadeOut
  from
    opacity: 1
  to
    opacity: 0

@keyframes accordion-in
  0%
    opacity: 0
    transform: scale(0.9) rotateX(-60deg)
    transform-origin: 50% 0
  100%
    opacity: 1
    transform: scale(1)

@keyframes accordion-out
  0%
    opacity: 1
    transform: scale(1)
  100%
    opacity: 0
    transform: scale(0.9) rotateX(-60deg)

@keyframes fade-in-right
  from
    opacity: 0
    transform: translate3d(100px, 0, 0)

  to
    opacity: 1
    transform: translate3d(0, 0, 0)