@font-face
  font-family: 'Roboto'
  +font('Roboto-Regular')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Roboto'
  +font('Roboto-Bold')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Roboto'
  +font('Roboto-Light')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Roboto'
  +font('Roboto-LightItalic')
  font-weight: 300
  font-style: italic

@font-face
  font-family: 'Roboto'
  +font('Roboto-Medium')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Roboto'
  +font('Roboto-Italic')
  font-weight: normal
  font-style: italic