.is-disabled
  opacity: 0.8
  pointer-events: none

.iphone-border
  position: relative
  &:before
    content: ''
    width: calc(100% - #{$grid-step * 2}px)
    left: #{$grid-step * 2}px
    height: 1px
    background: #e9f5fd
    bottom: 0
    position: absolute

.choose-city-btn
  position: relative
  &.is-active
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
  select
    opacity: 0
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%


#bp_caption
  .bp-x
    display: none !important

.collapse-btn
  cursor: pointer
  font-size: 30px
  width: 1em
  height: 1em
  border-radius: 50%
  background: #c1e3ff
  display: inline-block
  position: relative
  +r($sm)
    font-size: 25px
  &:before, &:after
    font-family: 'Font Awesome 5 Free'
    font-weight: 900
    color: #fff
    font-size: +em(10, 30)
    position: absolute
    left: 50%
    margin-left: +em(-4, 10)
    display: block
  &:before
    content: '\f063'
    top: +em(5, 10)
  &:after
    content: '\f062'
    bottom: +em(5, 10)

.uploaded-avatar
  display: inline-block
  border-radius: 50%
  position: relative
  width: 100%
  max-width: 280px
  overflow: hidden
  &__inn
    padding-top: 100%
    position: relative
  img
    position: absolute
    left: 0
    top: 0
    +img-cover
    display: inline-block
    vertical-align: top

.sample-photo
  background: $style-color4
  margin: -20px -20px 0
  text-align: center
  img
    display: inline-block
    vertical-align: top
    max-width: 400px
    width: 100%

.input-row-switch
  flex-grow: 1
  max-width: 350px
  align-items: center
  justify-content: space-between
  flex-wrap: nowrap
  +r($xxs)
    max-width: 250px
  +r($tiny)
    max-width: 190px