html
  +selection
    background: $style-color
    color: #fff

input
  font-family: 'Roboto', sans-serif

.link
  &:hover
    text-decoration: underline
    color: $style-color2
    .icon
      fill: $style-color2

.text
  line-height: 1.4
  p
    display: block
    margin-bottom: 20px
    &:last-child
      margin-bottom: 0

.text-pink
  color: $style-color3 !important

.page-title
  height: 60px
  display: flex
  align-items: center
  background: #e9f5fd
  font-size: 18px
  font-weight: 500
  text-align: center
  justify-content: center
  letter-spacing: 0.5px
  margin-bottom: 30px
