.album
  position: relative
  width: 100%
  padding-top: 70%
  background: #c1e3ff
  &:before
    @extend %fa
    position: absolute
    +vcenter
    color: #ffffff
    font-size: 48px
    z-index: 3
  &--private:before
    content: '\f023'
  &--public:before
    content: '\f302'
  &__photos, &__name
    position: absolute
    left: 0
    color: #ffffff
    font-weight: 300
    background: rgba(#292929, 0.7)
    z-index: 2
  &__photos
    top: 0
    font-size: 14px
    padding: 4px
    &:before
      @extend %fa
      content: '\f030'
      margin-right: 5px
  &__name
    text-align: center
    padding: 7px
    bottom: 0
    width: 100%
  &__cover
    position: absolute
    left: 0
    top: 0
    +img-cover
    z-index: 1