.auth-menu
  background: $bg-color
  &__info
    background: #d8eefd
    padding: 10px 20px
    display: flex
    align-items: flex-start
    flex-wrap: nowrap
    &-left
      flex-grow: 1
      flex-shrink: 1
    &-right
      padding-left: 20px
  &__nickname, &__stat
    font-size: 14px
    display: block
  &__nickname
    font-style: italic
    margin-bottom: 5px
  &__stat
    margin-bottom: 7px
    white-space: nowrap
    > span
      font-weight: bold
      font-size: 16px
    &:last-child
      margin-bottom: 0
  &__list
    padding: 3px 0
  &__item

  &__link
    display: block
    border-left: 3px solid transparent
    padding: 6px #{$grid-step}px
    padding-right: #{$grid-step * 3}px
    position: relative
    &.is-active, &:hover
      background: #e9f5fd
      border-color: $style-color2
  &__icon
    position: absolute
    right: #{$grid-step}px
    top: 50%
    transform: translateY(-50%)
    text-align: center
    width: 20px
  &__badge
    background: #d8eefd
    border-radius: 8px
    font-size: 14px
    color: #116fb2
    line-height: 16px
    display: inline-block
    padding: 0 4px
    font-weight: 500
  &__badges
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-around
    text-align: center
    margin: 0 -5px -10px
    &-item
      width: 50%
      font-size: 14px
      font-weight: 300
      padding: 0 5px 10px
    .fas
      display: block
      margin-bottom: 3px