.btn
  background: $style-color
  cursor: pointer
  border: 0
  border-radius: 15px
  min-height: 30px
  display: inline-flex
  text-align: center
  align-items: center
  justify-content: center
  color: #ffffff
  font-size: 14px
  font-weight: 300
  padding: 2px 15px
  transition: all ease .3s
  &[disabled]
    background: #9f9f9f
    cursor: not-allowed
    pointer-events: none
  &:hover
    background: $style-color3
    color: #fff
  &--block
    width: 100%
  &--sm
    min-height: 25px
  &--lg
    min-height: 40px
    font-size: 18px
    letter-spacing: 0.5px
    border-radius: 20px
    font-weight: 500
    text-transform: uppercase
    max-width: 250px
    +r($xs)
      max-width: 100%
    .fas
      font-size: +em(12, 18)
      vertical-align: middle
      position: relative
      bottom: +em(1, 12)
  &--pink
    background: $style-color3
  &--gold
    background: $gold-color
    color: #78650a
    &:hover
      background: darken($gold-color, 15%)
  &--vip
    background: #c1e3ff
    color: $font-color
    &:hover
      background: darken(#c1e3ff, 8%)
  &--outline
    background-color: transparent
    color: $font-color
  > span
    display: block
    line-height: 1.4
  .fas
    margin-right: 7px
  input
    display: none