.checkbox
  display: inline-flex
  align-items: center
  input
    display: none !important
  input:checked + &__i
    background: #2b91d8
    &:before
      left: 17px
  &__i
    height: 26px
    width: #{$grid-step * 4}px
    border-radius: 20px
    background: #c6c6c6
    position: relative
    transition: all ease .3s
    cursor: pointer
    flex-shrink: 0
    &:before
      transition: all ease .3s
      content: ''
      background: #ffffff
      display: block
      border-radius: 50%
      width: 20px
      height: 20px
      box-shadow: 0 1px 1px 0 rgba(#000, 0.17)
      position: absolute
      top: 50%
      z-index: 2
      transform: translateY(-50%)
      left: 2px
  &__text
    font-style: italic
    padding-left: 13px
    line-height: 1.3
    a
      text-decoration: underline