.comment-form
  background: $style-color4
  padding: 10px
  &__input
    margin-bottom: 10px
  &__actions
    padding: 0 10px
    display: flex
    justify-content: space-between
    align-items: center
  &__control
    font-size: 18px
    color: #9ecbe8