.comment
  $level-offset: 10
  $reset-level: 8
  $level-border: 1
  margin-bottom: 10px
  position: relative
  &:last-child
    margin-bottom: 0
  &__head
    display: flex
    flex-wrap: nowrap
    align-items: center
    justify-content: space-between
    margin-bottom: 5px
    &-right
      display: flex
      align-items: center
      font-size: 14px
      padding-left: 10px
  &__rate
    color: $style-color3
    margin-right: 5px
    font-weight: 500
  &__trigger
    color: $font-color
  &__user
    font-size: 14px
    color: $font-color
  &__date
    font-size: 12px
    color: #9c9c9c
  &__content
    p
      display: block
      line-height: 1.4
      margin-bottom: 15px
      &:last-child
        margin-bottom: 0
  &__children
    border-left: #{$level-border}px solid #d8eefd
    padding-left: #{$level-offset}px
    margin-top: 10px
    padding-top: 10px
    position: relative
    background: #f6fcff
    &:hover
      &, &:before, &:after
        //border-color: $style-color
    &:before, &:after
      position: absolute
      content: ''
      height: 11px
      left: 0
      display: none
      border: 0 solid #d8eefd
    &:before
      top: 0
      border-top-width: #{$level-border}px
      border-left-width: #{$level-border}px
      width: #{($level-offset + $level-border) * $reset-level + $level-border}px
    &:after
      width: 100%
      bottom: 0
      border-width: #{$level-border}px
      border-top: 0
    &--reset
      margin-left: -#{($level-offset + $level-border) * ($reset-level + 1)}px
      border-left: 0
      padding: 15px 0
      &:before, &:after
        display: block
  &__more
    font-weight: 400
    padding: 12px 15px
    background: $style-color4
    display: block
    color: $font-color
    margin-top: 10px
    transition: all ease .3s
    &:hover
      background: $style-color
      color: #fff
    &:after
      font-family: 'Font Awesome 5 Free'
      font-weight: 400
      content: '\f075'
      display: inline-block
      vertical-align: middle
      margin-left: 5px
      position: relative
      bottom: 2px
  &__image
    a
      display: block
      max-width: 400px
      max-height: 225px
  &__close-branch
    position: absolute
    font-size: 26px
    background: #d8eefd
    color: #fff
    left: 50%
    margin-left: -12px
    bottom: 0
    margin-bottom: -12px
    width: 1em
    height: 1em
    line-height: 20px
    border-radius: 50%
    text-align: center
    padding-left: +em(1, 26)
    transition: all ease .3s
    z-index: 4
    &:hover
      background: $style-color
    &:before
      @extend %fa
      content: '\f00d'
      font-size: +em(15, 26)

.comment-actions
  display: none
  margin-top: 15px
  &__header
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 10px
    &-left, &-right
      display: flex
      align-items: center
  &__collapse
    margin-right: 25px
    +r($xxs)
      margin-right: 10px
  &__link
    color: $font-color
  &__close
    font-size: 26px
    color: $style-color3
    margin-left: 30px
    +r($xxs)
      margin-left: 15px