.contacts
  margin: 0 -#{$grid-step * 2}px
  &__item
    border-bottom: 1px solid #e9f5fd
    padding: 15px #{$grid-step * 2}px
    text-align: center
  &__name
    font-style: italic
    margin-bottom: 10px
  &__messengers
    display: flex
    flex-wrap: wrap
    margin: 0 -5px 5px
    justify-content: center
    font-size: 30px
    &-item
      padding: 0 5px 5px
    .fa-telegram
      color: #0088cc
    .fa-whatsapp
      color: #2cb742