.entries
  &__item
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
  &__pagination
    margin-top: 15px
    padding-top: 15px
    position: relative
    &:before
      position: absolute
      content: ''
      width: 90%
      left: 5%
      height: 1px
      top: 0
      background: $style-color4

.entry
  &--pinned &__profile
    &:before
      position: absolute
      right: 15px
      top: 10px
      font-family: 'Font Awesome 5 Free'
      font-weight: 900
      content: '\f08d'
      color: $font-color
      font-size: 12px
  &__profile, &__inner
    padding-left: 20px
    padding-right: 20px
  &__profile
    background: $style-color4
    display: flex
    padding-top: 5px
    padding-bottom: 5px
    align-items: center
    font-size: 14px
    position: relative
    &-left
      width: 60px
      flex-grow: 0
    &-photo
      position: relative
      width: 50px
      height: 50px
      border-radius: 50%
      display: block
      &:before
        position: absolute
        font-weight: 900
        font-family: 'Font Awesome 5 Free'
        content: '\f2bd'
        color: #d4eaf8
        font-size: 50px
        z-index: 1
        left: 0
        top: 0
      img
        position: relative
        z-index: 2
        +img-cover
    &-name
      font-weight: 500
      color: $font-color
      display: inline-block
    &-date
      font-weight: 300
      margin-top: 10px
    &-badge
      height: 14px
      line-height: 15px
      border-radius: 7px
      display: inline-block
      vertical-align: middle
      font-size: 10px
      font-weight: 300
      padding: 0 7px
      &--gold
        background: $gold-color
        color: #78650a
      &--vip
        color: #096cb1
        background: $vip-color
  &__inner
    padding-top: 20px
    padding-bottom: 20px
    background: #f6fcff
  &__info
    margin-bottom: 20px
    &-row
      position: relative
      font-weight: 500
      margin-bottom: 15px
      padding-left: 30px
      &:last-child
        margin-bottom: 0
      .fas
        position: absolute
        left: 0
        top: 50%
        transform: translateY(-50%)
  &__content
    line-height: 1.4
    margin-bottom: 20px
    p
      display: block
      margin-bottom: 15px
      &:last-child
        margin-bottom: 0
  &__tags
    margin-bottom: 10px
  &__meta
    display: flex
    align-items: center
    justify-content: space-between
  &__attachments
    text-align: center
    margin: 20px -10px 20px
    &:last-child
      margin-bottom: 0
    > a
      display: block
    > *
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0
  &__hidden
    display: none
  &__more
    background: $style-color4
    display: block
    padding: 20px 0
    text-align: center
    color: $font-color
    margin: -20px -20px 0
    font-weight: 500
    > span
      &:after
        font-size: 10px
        display: inline-block
        vertical-align: middle
        margin-left: 5px
        font-family: 'Font Awesome 5 Free'
        font-weight: 900
        content: '\f078'
  &__comments
    margin: 25px -20px -20px
    &-title
      font-size: 18px
      border-bottom: 1px solid #d8eefd
      padding: 0 20px 8px
      margin-bottom: 15px
    &-list
      padding: 0 20px
    &-footer
      margin-top: 20px
    &-more
      color: $font-color
      display: block
      text-align: center
      padding: 10px 0
      background: $style-color4
      margin-bottom: 2px