.filters
  background: #f6fcff
  &__group
    border-bottom: 1px solid #f6fcff
    &:last-child
      border-bottom: 0
    &-label
      font-style: italic
      background: #e9f5fd
      cursor: pointer
      padding: 7px #{$grid-step * 2}px
      position: relative
      z-index: 1
      &--lg
        padding-top: 20px
        padding-bottom: 20px
        font-size: 18px
        font-style: normal
        font-weight: 500
      &:before, &:after
        position: absolute
        top: 50%
        transform: translateY(-50%)
        color: $font-color
        font-size: 14px
        font-style: normal
        display: block
      &:before
        content: 'open'
        font-weight: 300
        right: #{$grid-step * 4}px
        .dropdown-open &
          content: 'hide'
      &:after
        font-family: 'Font Awesome 5 Free'
        content: '\f0d7'
        font-weight: 900
        right: #{$grid-step * 2}px
        margin-top: 1px
        transition: all ease .3s
        .dropdown-open &
          transform: rotate(180deg) translateY(50%)
    &-list, &-content
      display: none
      animation: fade-up .3s forwards
    &-content
      padding: #{$grid-step * 2}px
      position: relative
      z-index: 2
      .form
        padding: 0