.form
  padding: 0 #{$grid-step}px
  &--full
    .dk-select, select
      width: 100%
      max-width: 100%
    //.input-row
      padding-left: 0
      padding-right: 0
      &:before
        left: 0
        width: calc(100% + 20px)
  &--full &__label
    text-align: left
  &--full &__row
    justify-content: flex-start
    .input, .dk-select, select
      max-width: 100%
  &__group
    margin-bottom: 25px
    &:last-child
      margin-bottom: 0
    &-title
      padding: 0 0 10px
      border-bottom: 1px solid $style-color4
      font-weight: 300
      margin-bottom: 20px
      @extend .iphone-border
      &:before
        left: 0 !important
        width: calc(100% + 20px) !important
      &--lg
        border-bottom: 0
        font-size: 18px
        font-weight: 500
      .fas
        margin-right: 10px
  &__row
    margin-bottom: 20px
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    &:last-child
      margin-bottom: 0
    .input, .dk-select
      max-width: #{$grid-step * 16}px
    > .row
      flex-grow: 1
  &__text
    font-weight: 300
    line-height: 1.4
    text-align: center
  &__label
    display: block
    font-style: italic
    margin-bottom: 5px
    width: 100%
    text-align: center
    transition: all ease .3s
    &.is-disabled, &--disabled
      color: #9f9f9f
    &--required
      &:after
        color: $style-color3
        content: '*'
  &__attachments
    margin: 40px 0 25px
    &-area
      display: none
      margin: 0 -7px 10px
      flex-wrap: wrap
    &-actions
      display: flex
      align-items: center
      justify-content: center
      > *
        margin-right: 25px
        &:last-child
          margin-right: 0
    &-item
      padding: 0 7px 15px
      position: relative
      width: 100%
      &.is-img
        width: 50%
        height: 200px
        img
          +img-cover
          border: 1px solid $style-color
      &:last-child
        margin-bottom: 0
    &-remove
      width: 16px
      height: 16px
      background: $style-color3
      color: #ffffff
      border-radius: 50%
      position: absolute
      left: 0
      top: -8px
      display: block
      z-index: 101
      border: 0
      line-height: 16px
      &:before
        @extend %fa
        content: '\f00d'
        font-size: 10px
  &__error
    display: block
    margin-top: 4px
    font-size: 12px
    font-weight: 300
    color: $style-color3
  &__submit
    margin-top: 30px
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    padding: 0 #{$grid-step * 2}px
    &--border
      margin: 15px -20px 10px
      padding-top: 30px
      border-top: 1px solid $style-color4
  &__dynamics
    margin: 0 -20px
    padding: 0 20px
    > .row
      margin: 0 -20px -20px
    &-item
      border-bottom: 1px solid $style-color4
      padding-bottom: 10px
      margin-bottom: 10px
      padding-left: 20px
      padding-right: 20px
      &.col-12:last-child
        border-bottom: 0
        margin-bottom: 0
    &-remove
      color: $style-color3
      font-size: 20px
      margin-right: 10px
      background-color: transparent
      border: 0
      cursor: pointer
      display: inline-block
      vertical-align: middle
      margin-top: +em(-4, 20)