.group
  background: $bg-color
  &__title
    @extend .page-title
    margin-bottom: 0
  &__content
    padding: #{$grid-step * 2}px #{$grid-step}px
    .input-row
      //margin: 0 -#{$grid-step * 2}px
  &__btn
    margin-top: 20px
    text-align: center
    .row
      text-align: left
      .btn
        max-width: 200px
  > .form
    padding: 20px