.icon-menu
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  margin: 0 -15px -30px
  justify-content: space-between
  &__item
    padding: 0 15px 30px
  &__link
    display: block
    color: $font-color
    font-size: 14px
    font-weight: 300
    text-align: center
    padding: 0 10px
    max-width: 70px
    line-height: 1.4
  &__icon
    font-size: 33px
    display: block
    margin-bottom: 5px