.input, select
  display: inline-block
  vertical-align: middle
  width: 100%
  background: #fff
  border: 1px solid #d7d8d9
  height: 25px
  border-radius: 12px
  box-shadow: inset 0 0 8px rgba(#000, 0.15)
  padding: 0 #{$grid-step}px
  font-weight: 300
  color: $font-color
  transition: all ease .3s
  font-size: 14px
  font-family: 'Roboto'
  &:focus
    background: #fdffd3

select
  max-width: 200px
  &.dk-select--full
    max-width: 100%

textarea.input
  overflow: hidden
  height: auto
  line-height: 1.3
  padding: 2px 10px
  resize: vertical