.input-rows
  flex-grow: 1
  margin: 0 -#{$grid-step * 2}px
  &--border .input-row:last-child:before
    display: block


.input-row
  padding: 10px #{$grid-step * 2}px 9px
  //border-bottom: 1px solid #e9f5fd
  display: flex
  justify-content: space-between
  align-items: center
  min-height: 40px
  @extend .iphone-border
  .dk-select
    width: 120px
  &:last-child:before
    display: none
  &__label
    padding-right: 15px
    > .fas
      position: absolute
      top: 50%
      transform: translateY(-50%)
      left: #{$grid-step * 2}px
      margin-top: -1px
    > .fas + span
      display: block
      padding-left: #{$grid-step * 3}px
    .dk-select
      margin-top: 8px
      width: #{$grid-step * 16}px
    .input
      max-width: 160px
      margin-top: 10px
  .small-buttons
    margin-top: 10px