.label-block
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100%
  +r($xs)
    height: auto
  &__center
    text-align: center
    flex-grow: 1
    display: flex
    align-items: center
    justify-content: center
    padding: 30px 10px