.levels
  display: inline-flex
  flex-wrap: nowrap
  align-items: center
  margin: 0 -3px -6px
  @for $i from 1 through 4
    &.active-#{$i}
      @for $j from 1 through $i
        .levels__item:nth-child(#{$j}) .levels__dot
          background: $style-color3
  &__item
    padding: 0 3px 6px
  &__dot
    width: 15px
    height: 15px
    display: inline-block
    border-radius: 50%
    border: 2px solid $style-color3
    &.is-active
      background: $style-color3