
@keyframes lds-ellipsis1
  0%
    transform: scale(0)
  100%
    transform: scale(1)


@keyframes lds-ellipsis3
  0%
    transform: scale(1)
  100%
    transform: scale(0)


@keyframes lds-ellipsis2
  0%
    transform: translate(0, 0)
  100%
    transform: translate(172%, 0)

.loader
  $size: 64
  width: 1em
  height: +em(11, $size)
  position: relative
  span
    position: absolute
    top: 0
    width: +em(11, $size)
    height: +em(11, $size)
    border-radius: 50%
    background: $style-color
    animation-timing-function: cubic-bezier(0, 1, 1, 0)
    &:nth-child(1)
      left: +em(6, $size)
      animation: lds-ellipsis1 0.6s infinite
    &:nth-child(2)
      left: +em(6, $size)
      animation: lds-ellipsis2 0.6s infinite
    &:nth-child(3)
      left: +em(26, $size)
      animation: lds-ellipsis2 0.6s infinite
    &:nth-child(4)
      left: +em(45, $size)
      animation: lds-ellipsis3 0.6s infinite