.video
  &.is-playing
    .media__controls:hover
      transform: translateY(0)
  &.is-paused
    .media__controls
      transform: translateY(0)
  &.is-playing &__overlay, &.is-paused &__overlay
    display: none
  &__overlay
    position: absolute
    z-index: 10
    width: 100%
    height: 100%
    left: 0
    top: 0
    overflow: hidden
    .is-loaded &
      cursor: pointer
  &__overlay:hover &__btn
    color: $style-color
  &__overlay:hover &__cover
    transform: scale(1.01)
  &__btn
    position: absolute
    +vcenter
    transition: all ease .45s
    color: #fff
    font-size: 50px
    z-index: 9
    display: none
    .is-loaded &
      display: block
    &:before
      @extend %fa
      content: '\f04b'

  &__cover
    position: absolute
    left: 0
    top: 0
    +img-cover
    z-index: 2
    transition: all ease 1s
  &__container
    position: absolute
    overflow: hidden
    left: 0
    top: 0
    width: 100%
    height: 100%
  &__source, &__duration
    position: absolute
    background: rgba(#292929, 0.7)
    color: #fff
    font-size: 14px
    height: 20px
    display: flex
    align-items: center
    justify-content: center
    padding: 0 8px
    z-index: 9
  &__source
    left: 0
    top: 0
    height: 24px
    font-size: 16px
  &__duration
    right: 0
    bottom: 0
    .loader
      font-size: 30px
      > span
        background: #fff

  .media__controls
    bottom: 0
    position: absolute
    left: 0
    width: 100%
    transition: all ease .3s
    transform: translateY(100%)
    z-index: 11
    &:before
      position: absolute
      height: 30px
      content: ''
      width: 100%
      bottom: 100%
  video
    max-width: 100%

.media
  position: relative
  font-size: 0
  &__controls
    display: flex
    background: #e9f5fd
    padding: 10px 5px
    padding-right: 20px
    align-items: center
    flex-wrap: nowrap
    justify-content: space-between
    position: relative
  &__btn
    font-size: 30px
    color: $style-color
    position: relative
    border: 0
    background-color: transparent
    &:before
      font-family: 'Font Awesome 5 Free'
      font-weight: 900
      content: '\f144'
      .is-playing &
        content: '\f28b'
  &__progress
    padding-left: 13px
    padding-right: 20px
    position: relative
    height: 100%
    flex-grow: 1
  &__progress &__slider
    pointer-events: none
    opacity: 0
    .is-playing &, .is-paused &
      opacity: 1
      pointer-events: auto
  &__volume
    width: 100px
    flex-shrink: 0
    flex-grow: 0
    +r($tiny)
      width: 60px
  &__line
    background: #c3e3f8
    height: 2px
    position: relative
    &:before
      position: absolute
      content: ''
      left: 0
      width: 100%
      height: 20px
      z-index: 2
      top: 50%
      transform: translateY(-50%)
      cursor: pointer
    &-current
      height: 2px
      background: $style-color
      width: 0
  &__slider
    width: 10px
    height: 10px
    border-radius: 50%
    background: $style-color
    position: absolute
    left: 0
    top: 50%
    margin-top: -5px
    cursor: move
    z-index: 9
  &__duration
    font-size: 12px
    color: #4a8bc1
    position: absolute
    top: 100%
    margin-top: 6px
    left: 13px
    user-select: none
  &__loader
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: rgba(#e9f5fd, 0.9)
    z-index: 99
    font-size: 64px
    .loader
      position: absolute
      +vcenter
  &__hint
    position: absolute
    padding: 2px 5px
    color: #fff
    background: rgba($style-color, 0.8)
    display: none
    font-size: 12px
    margin-top: -5px
    user-select: none
    z-index: 2
    &:before
      content: ''
      position: absolute
      top: 100%
      left: 50%
      transform: translateX(-50%)
      +arr(6, 3, rgba($style-color, 0.8), b)
