.models
  //&__list, &__more
    +r($sm)
      padding: 0 #{$grid-step}px
  &__list
    margin: 0 -10px -20px
    display: flex
    flex-wrap: wrap
    align-items: flex-start
  &__item
    padding: 0 10px 20px
    width: 50%
    +rmin($xxs)
      .model__inn
        padding-top: 21px
    +r($xxs)
      width: 100%
  &__more
    margin-top: 30px
    text-align: center


.model
  position: relative
  =c($color, $text-color)
    .model__card
      border-color: $color
    .model__name
      color: $color
    .model__badge--right
      background: $color
      color: $text-color
      &:before
        +arr(20, 21, $color, br)
  &--verified &__photo:before
    display: block
  &--gold
    +c($gold-color, #78650a)
  &--vip
    +c($vip-color, $font-color)
  &__badge
    position: absolute
    top: 0
    height: 21px
    line-height: 21px
    display: block
    padding: 0 10px
    color: #ffffff
    font-style: italic
    left: 0
    letter-spacing: 3px
    text-align: center
    &:before
      position: absolute
      top: 0
      display: block
      content: ''
    &--left
      background: $style-color3
      padding-right: 7px
      &:before
        left: 100%
        +arr(21, 20, $style-color3, bl)
    &--right
      left: auto
      right: 0
      min-width: 75px
      &:before
        right: 100%
  &__badge + &__inn
    padding-top: 21px
  &__status
    position: absolute
    top: 0
    left: 0
    +r($xxs)
      position: static
      height: 21px
  &__card
    position: relative
    border: 3px solid #e9f5fd
  &__photo
    position: relative
    overflow: hidden
    width: 100%
    padding-top: 152%
    box-sizing: content-box
    &:before
      display: none
      content: 'Verified'
      text-transform: uppercase
      font-weight: 300
      font-style: italic
      color: #ffffff
      background: #0092db
      position: absolute
      right: -100px
      top: -61px
      padding: 100px 60px 2px
      transform: rotate(45deg)
      z-index: 9
    .swiper-container
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
    .swiper-dots
      position: absolute
      left: 0
      width: 100%
      text-align: center
      z-index: 99
    .swiper-dot
      width: 7px
      height: 7px
      border-radius: 50%
      display: inline-block
      vertical-align: middle
      margin: 0 8px 10px
      background: #403b35
      cursor: pointer
      &.active
        background: #ffffff
  &__img
    +img-cover
    position: absolute
    left: 0
    top: 0
  &__info
    background: rgba(#292929, 0.8)
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    padding: 12px 15px
    color: #fff
    letter-spacing: 2px
    z-index: 9
  &__name
    margin-bottom: 8px
  &__city
    font-style: italic
    margin-bottom: 8px
    display: block
  &__meta
    margin-top: 15px
    display: flex
    align-items: center
    justify-content: space-between
  &__actions
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    margin: 20px -5px -5px
    padding: 0 5px
    &-item
      padding: 0 5px 5px
    &-btn
      font-size: 24px
      color: #2b91d8