.modal
  width: 100%
  padding: 0
  background-color: transparent
  margin: 0 0 #{$grid-step}px !important
  &__header
    border-radius: 5px 5px 0 0
    height: 60px
    display: flex
    justify-content: space-between
    align-items: center
    padding: 5px #{$grid-step * 2}px
    background: #e9f5fd
  &__content
    background: $bg-color
    border-radius: 0 0 5px 5px
    overflow: hidden
  &__title
    font-size: 18px
    font-weight: bold
  &__close
    font-size: 18px
    color: #096cb1
    display: inline-block
