.notifications
  margin: 0 -#{$grid-step * 2}px
  &__item
    min-height: 30px
    display: flex
    align-items: center
    padding: 5px #{$grid-step * 2}px
    padding-right: #{$grid-step * 2 + 15}px
    line-height: 1.3
    @extend .iphone-border
    &--bright
      color: $style-color3
  &__group
    &-content
      display: none
      animation: fade-up .3s forwards
    &.dropdown-open .notifications__item:after
      transform: rotate(90deg) translateX(-50%)
      margin-top: +em(-3, 14)
  &__group > &__item
    cursor: pointer
    &:after
      font-family: 'Font Awesome 5 Free'
      font-weight: 900
      content: '\f054'
      position: absolute
      top: 50%
      right: #{$grid-step * 2}px
      transform: translateY(-50%)
      font-size: +em(14, $font-size)
      transition: all ease .3s
      transform-origin: center
  &__remove
    position: absolute
    right: #{$grid-step * 2}px
    top: 50%
    transform: translateY(-50%)
    font-size: 14px
    &:before
      font-family: 'Font Awesome 5 Free'
      font-weight: 900
      content: '\f00d'
  &__comment
    color: #6d97b4
    font-size: 14px