.page-switcher
  display: flex
  align-items: center
  justify-content: center
  height: 30px
  background: $style-color
  position: relative
  //z-index: 99999
  &__current
    @extend .header__nav-current
    width: 100%
    text-align: center
    padding-left: +em($font-size)
  &__link
    @extend .header__nav-link
    text-align: center
  &__list
    @extend .header__nav-list
    background: $style-color
    width: 100%
    left: 0
    top: -1px
    padding: 0 #{$layout-padding * 2}px
  &__item
    @extend .header__nav-item
    max-width: #{$layout-width}px
    margin: 0 auto

