.pagination
  text-align: center
  font-size: 24px
  background: #e9f5fd
  padding: 20px 0
  &__disabled
    color: #7bb4db !important
    pointer-events: none
  &__list
    list-style: none
    display: flex
    flex-wrap: wrap
    margin: 0 -8px -5px
    align-items: center
    justify-content: center
  &__item
    padding: 0 8px 5px
  &__active
    opacity: 1
  &__link
    &:hover
      opacity: .7
  &__link, &__empty
    color: #7bb4db
    opacity: .5
  &__active
    color: #086fb5
  &__link, &__prev, &__next
    transition: color ease .3s
    &:hover
      color: lighten($style-color, 10)
  &__empty
    &:before
      content: '...'
  &__prev, &__next
    color: #006cb4
    font-size: 0
    display: block
    &:before
      font-family: 'Font Awesome 5 Free'
      font-weight: 900
      font-size: 16px
  &__prev
    margin-right: 25px
    &:before
      content: '\f053'
  &__next
    margin-left: 25px
    &:before
      content: '\f054'
