.plans
  padding: 0 #{$grid-step}px
  display: flex
  margin: 0 -15px -30px
  justify-content: center
  flex-wrap: wrap
  &__item
    width: 33.333%
    padding: 0 15px 30px
    min-width: 300px
    +r($xxs)
      width: 100%

.plan-card
  height: 100%
  border: 3px solid #e9f5fd
  =c($color, $font-color)
    border-color: $color
    .plan-card__title
      background: $color
      color: $font-color
  &--gold
    +c($gold-color, #78650a)
  &--vip
    +c($vip-color, $font-color)
  &__title
    min-height: 60px
    display: flex
    justify-content: center
    align-items: center
    background: #e9f5fd
  &__content
    text-align: center
    padding: 20px 15px
    p
      display: block
      line-height: 1.4
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
  &__price
    font-size: 18px