.profile-photo
  overflow: hidden
  position: relative
  padding-top: 150%
  display: block
  &.is-main
    &:before, &:after
      display: block
  &:hover &__toolbar
    opacity: 1
  &:before
    @extend %fa
    content: '\f00c'
    font-size: 36px
    color: $font-color
    +vcenter
    display: none
    z-index: 3
  &:after
    position: absolute
    content: ''
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: rgba(#c1e3ff, 0.9)
    z-index: 2
    display: none
  &__img
    position: absolute
    left: 0
    top: 0
    +img-cover
  &__toolbar
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    background: rgba(#292929, 0.7)
    padding: 8px 15px
    display: flex
    justify-content: space-between
    align-items: center
    font-size: 14px
    opacity: 0
    transition: all ease .3s
    z-index: 5
    &-item
      display: inline-block
      color: #ffffff