.rate
  display: inline-flex
  align-items: center
  margin: 0 -3px
  > *
    padding: 0 3px
  &__minus, &__plus
    font-size: 18px
  &__minus
    color: #00a3f6
  &__plus
    color: #ff5cf9
  &__current
    padding-top: 2px
    font-weight: bold
    color: #ff5cf9