.round-btn
  display: inline-flex
  color: #ffffff
  border: 0
  background: $style-color
  width: 36px
  height: 36px
  align-items: center
  justify-content: center
  font-size: 16px
  border-radius: 50%
  &--xs
    width: 18px
    height: 18px
    font-size: 10px
  &:hover
    background: $style-color2
  &[disabled]
    background: #a2a2a2