.search
  display: flex
  flex-wrap: nowrap
  align-items: center
  justify-content: space-between
  &__input-wrapper
    position: relative
    flex-grow: 1
    &:before
      font-family: 'Font Awesome 5 Free'
      font-weight: 900
      font-size: 18px
      content: '\f002'
      position: absolute
      left: 11px
      top: 50%
      transform: translateY(-50%)
      color: #adadad
      transition: all ease .3s
      z-index: 1
  &__input
    height: 30px
    line-height: 30px
    border: 1px solid #d7d8d9
    border-radius: 15px
    padding-left: #{$grid-step * 4}px
    padding-right: #{$grid-step * 1.5}px
    font-weight: 300
    width: 100%
    display: block
    color: $style-color
    font-size: 16px
    box-shadow: inset 0 0 8px rgba(#000, 0.15)
    transition: all ease .3s
    &:focus
      border-color: $style-color
    +placeholder
      color: #adadad
      opacity: 1
  .btn
    padding: 0 17px
    margin-left: #{$grid-step}px