.small-buttons
  display: flex
  flex-wrap: wrap
  margin: 0 #{-$grid-step / 2}px -5px
  &__item
    padding: 0 #{$grid-step / 2}px 5px

.small-btn
  display: inline-flex
  background: #e9f5fd
  border: 1px solid #c1e3ff
  align-items: center
  justify-content: center
  padding: 0 5px
  height: 20px
  text-align: center
  font-size: 12px
  font-weight: 300
  border-radius: 2px
  color: #3782bc
  transition: all ease .3s
  cursor: pointer
  &:hover
    color: #fff
    background: $style-color2
    border-color: $style-color2
  &--pink
    background: #fbebfa
    border-color: #ff5cf9
    color: #ff5cf9
  &--icon
    .fas
      margin-right: 8px