.tags
  display: flex
  align-items: flex-start
  margin: 0 -3px -6px
  flex-wrap: wrap
  &__item
    padding: 0 3px 6px
    &-remove
      color: $style-color3
      font-size: 20px
      border: 0
      background-color: transparent
      cursor: pointer
      display: inline-block
      vertical-align: middle
      margin-right: 3px
      &:before
        @extend %fa
        content: '\f2ed'
.tag
  background: #e9f5fd
  color: #3782bc
  font-size: 12px
  border-radius: 2px
  border: 1px solid #c1e3ff
  font-weight: 300
  padding: 2px 4px
  display: inline-block
  vertical-align: middle
  white-space: nowrap