.upload-block
  &__title
    font-weight: 500
    margin-bottom: 15px
  &__desc
    line-height: 1.3
  &__btn
    margin-top: 25px
  &__error
    margin-top: 10px
    display: none
    color: $style-color3
  &__area
    margin-top: 20px
    display: none
  &__remove
    color: $style-color3
    display: inline-block
    margin-top: 10px
    &:before
      @extend %fa
      content: '\f2ed '
    &:after
      content: ' Delete'