.user-city
  background: #e9f5fd
  &__inn
    display: flex
    height: 60px
    align-items: center
    justify-content: space-between
    +rmin($sm)
      justify-content: center
  &__label
    padding-right: 25px
    +r($xxs)
      padding-right: 5px
  .dk-select
    width: 140px