.qvideo
  position: relative
  overflow: hidden
  &.is-playing &__container, &.is-pause &__container
    opacity: 1
  &.is-playing &__overlay, &.is-pause &__overlay
    display: none
  &.is-playing &__btn
    opacity: 0
  &__container
    z-index: 1
    opacity: 0
    transition: all ease .3s
    > *
      width: 100% !important
  &__overlay
    position: absolute
    z-index: 10
    width: 100%
    height: 100%
    left: 0
    top: 0
    cursor: pointer
  &__overlay:hover &__btn
    color: $style-color
  &__overlay:hover &__cover
    transform: scale(1.01)
  &__cover
    position: absolute
    left: 0
    top: 0
    +img-cover
    z-index: 2
    transition: all ease 1s
  &__btn
    position: absolute
    +vcenter
    transition: all ease .45s
    color: #fff
    font-size: 50px
    z-index: 9
    display: none
    &:before
      @extend %fa
      content: '\f04b'
  &__duration
    position: absolute
    right: 0
    bottom: 0
    background: rgba(#292929, 0.7)
    color: #fff
    font-size: 14px
    height: 20px
    display: flex
    align-items: center
    justify-content: center
    padding: 0 8px
    z-index: 9
    .loader
      font-size: 30px
      > span
        background: #fff