.footer
  align-self: flex-end
  background: #e9f5fd
  font-size: 10px
  width: 100%
  &__inn
    height: 85px
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    > *
      width: 100%
  &__menu
    display: flex
    align-items: center
    justify-content: center
    margin: 0 -7px -7px
    & + &
      margin-top: 20px
    &-item
      padding: 0 7px 7px
      &--last
        margin-left: 30px
    &-link
      display: block