.header
  background: $style-color2
  width: 100%
  z-index: 999
  position: fixed
  left: 0
  top: 0
  &--auth &__center
    +r($tiny)
      display: none
  &--auth &__center
    +r($xs)
      width: 40px
      .logo
        width: 32px
  &__inn
    @extend %table
    table-layout: fixed
    height: 60px
  &__center
    padding: 0 4px
    text-align: center
    width: 200px
    +r($xxs)
      width: 40px
    .logo
      width: 192px
      +r($xxs)
        width: 32px
  &__back
    height: 100%
    display: inline-flex
    color: #fff
    align-items: center
    &:before
      @extend %fa
      content: '\f060'
      display: inline-block
      vertical-align: middle
      margin-right: 10px
      position: relative
      bottom: 1px
  &__nav
    display: inline-block
    position: relative
    &-current, &-link
      padding: 8px 0 6px
      color: #fff
      display: block
      text-transform: uppercase
    &-current
      position: relative
      z-index: 9
      &:after
        display: inline-block
        margin-left: 8px
        font-family: "Font Awesome 5 Free"
        font-weight: 900
        content: '\f078'
        transition: all ease .3s
        .dropdown-open &
          transform: rotate(180deg)
    &-list
      width: #{$grid-step * 15}px
      display: none
      background: $style-color2
      position: absolute
      left: -#{$grid-step}px
      padding: 0 #{$grid-step}px
      z-index: 2
      top: 0
      animation: fade-up .3s forwards
    &-item
      border-top: 1px solid rgba(#ddecf8, 0.7)
      &:first-child
        border-top-color: transparent
    &-link
  &__sign
    display: flex
    align-items: center
    justify-content: flex-end
    margin: 0 #{-$grid-step}px -5px
    &-item
      padding: 0 #{$grid-step}px 5px
    &-item--bright &-link
      color: #faff72
    &-link
      color: #fff
  &__auth
    display: flex
    margin: 0 -7px -5px
    align-items: center
    position: relative
    justify-content: flex-end
    &-item
      padding: 0 7px 5px
    &-item--user
      &.dropdown-open .header__auth-link:after
        transform: rotate(180deg)
      .header__auth-link
        font-size: 50px
        white-space: nowrap
        &:after
          font-size: 16px
          display: inline-block
          margin-left: -3px
          vertical-align: middle
          margin-top: -#{+em(3, 16)}
          font-family: "Font Awesome 5 Free"
          font-weight: 900
          content: '\f078'
          transition: all ease .3s
    &-link
      font-size: 25px
      color: #fff
      display: block
      position: relative
      &--new:before
        content: ''
        position: absolute
        width: 10px
        height: 10px
        background: #ff69f9
        border-radius: 50%
        right: -2px
        bottom: -2px
  .auth-menu
    position: absolute
    top: 100%
    right: #{-$grid-step + 7}px
    width: #{$grid-step * 18}px
    display: none
    animation: fade-up .3s forwards
    box-shadow: -2px 0 10px 0 rgba(#006cb4, 0.35)