.l-main
  display: flex
  min-height: 100vh
  background: $bg-color
  overflow: hidden
  flex-wrap: wrap
  justify-content: space-between
  flex-direction: column
  padding-top: 60px
  +rmin($sm)
    background: #fff

.l-wrapper
  max-width: #{$layout-width + ($layout-padding * 2)}px
  margin: 0 auto
  padding: 0 #{$layout-padding}px
  &--compact
    max-width: 640px
    +r($sm)
      padding: 0

.l-content
  width: 100%
  padding: 15px 0 30px
  .page-switcher
    margin-top: -15px
  +r($sm)
    padding-top: 0
    .page-switcher
      margin-top: 0

.l-sidebar
  display: flex
  align-items: flex-start
  padding-top: 10px
  +r($sm)
    padding-top: 0
    flex-wrap: wrap
  &__main
    padding-right: 40px
    +r($mds)
      padding-right: 20px
    +r($sm)
      padding-right: 0
      order: 2
  &__aside
    width: 300px
    flex: 0 0 auto
    +r($mds)
      width: 250px
    +r($sm)
      width: 100%
      order: 1

.l-dashboard
  $breakpoint: $sm
  display: flex
  //align-items: flex-start
  flex-wrap: wrap
  padding-top: 15px
  +r($breakpoint)
    padding-top: 0
    margin: 0 -#{$layout-padding}px
  &__aside
    flex: 0 0 auto
    width: 320px
    > *
      margin-bottom: 15px
      +r($breakpoint)
        margin-bottom: 0
      &:last-child
        margin-bottom: 0
    +r($layout-width)
      width: 250px
    +r($breakpoint)
      order: 1
      width: 100%
    .btn--lg
      max-width: 100%
  &__main
    padding-right: 15px
    flex: 1 0 0
    +r($breakpoint)
      padding-right: 0
      order: 2
  .group__content
    padding-left: 20px
    padding-right: 20px
  .auth-menu__link
    padding-left: 20px
  .search
    +r($sm)
      padding: 0 #{$layout-padding}px